body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    height: 100vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI1SPhfysLHHWZ244OHWShWv0L3D4u9bOSwg&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
}
div{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0, 0.5);
    transform: translate(-50%,-50%);
    padding: 5Px;
    box-shadow: 2px 2px 20px #919191;
}
h2{
    font-size: 30px;
    font-weight: 600;
    color: #ffff;

}
.text{
    text-align: left;
    margin-left: 100px;
    color: #ffff;
}
#weight, #height{
    color: #ffff;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    border: 1px solid #ffff;
    width: 300px;
    background-color: transparent;
    border-radius: 2px;
    outline: none;

}
#result{
    color: #ffff;

}
#btn{
    font-size: inherit;
    margin-top: 10px;
    border: none;
    color: #ffff;
    background-color: #828588;
    width: 150px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
}
#btn:hover{
    box-shadow: 1px 1px 10px #341f97;
}
#info{
    color: #ffff;
    font-size: 12px;
}